@import "tailwindcss";

@theme {
    --color-blue: #0D3A5F;
    --color-ligth-blue: #A6C8CF;
    --color-ligth-purple: #3E4B81;
    --color-purple: #8763Af;
    --color-ligth-pink: #D4A1AD;
    --color-pink: #E06A82;
    --color-pink-dark: #C94A6A;
    --color-gray: #E3E3E2;
    --color-white: #F7F7F5;

    --text-h1: 4rem;
    /* 64px */
    --text-h2: 3.5rem;
    /* 56px */
    --text-h3: 3rem;
    /* 48px */
    --text-h4: 2.5rem;
    /* 40px */
    --text-h5: 2rem;
    /* 32px */
    --text-h6: 1.5rem;
    /* 24px */
    --text-bodyLarge: 1.125rem;
    /* 18px */
    --text-bodyRegular: 1rem;
    /* 16px */
    --text-bodySmall: 0.875rem;
    /* 14px */
    --text-Paragraph: 1rem;
    /* 16px */

}

* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F7F7F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
    font-style: normal;
}

main {
    @apply flex flex-col gap-30
}

.container-main {
    @apply flex flex-col gap-y-10 h-screen py-[1rem] text-blue;
}

.container-spacing {
  @apply w-full max-w-screen-xl mx-auto px-[3rem] md:px-[7rem] py-1;
}


.button-base {
    @apply bg-pink w-fit text-white text-bodyLarge shadow-lg py-2.5 px-4 rounded-lg hover:bg-pink-dark transition duration-300;
}

.button-outlined {
    @apply bg-white w-fit text-pink text-bodyLarge border-2 border-pink py-2.5 px-4 rounded-lg hover:bg-pink hover:text-white transition duration-300;
}

.circle-base {
    @apply rounded-full h-[10.25rem] w-[10.25rem] border-2 shadow-md object-cover
}

.pinkCircle {
    @apply shadow-pink border-pink
}

.blueCircle {
    @apply shadow-ligth-blue border-ligth-blue
}

/* carrousel */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
